extends ../layout

block title
	| 登录

block content
	.col-xs-4
		form(role='form', action="/login", method="post")
			fieldset
				legend Sign in
				
				div.form-group
					label(for="username") 用户名
					input.form-control(id='username', type="text", name="u")
				div.form-group
					label(for="password") 密码
					input.form-control(id='password', type="password", name="pw")
				|!{csrf_field}
				input.btn.btn-default(type="submit", value="Log in")
