extends ../layout

block content
    h1 Log In
    form(action="/login", method="post")
        div
          label(for="username") 用户名
          input(type="text", name="username")
        div 
          label(for="password") 密码
          input(type="password", name="password")
        div
          input(type="submit", value="Log in")
