doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    -if(msgs)
        -if(msgs.success)
            p= msgs.success
        -if(msgs.error)
            p= msgs.error
    block content