extends ../layout

block title
	| 编辑文章

block content
	form(role='form', method="post", action="/blog/" + blog.id)
		!{csrf_field}
		input(name="_method", value='PUT', type="hidden")
		fieldset
			legend 编辑
			div.form-group
				label(for='title') 标题
				input#title.form-control(name='blog[title]', value="#{blog.title}")
			div.form-group
				label(for='body') 正文
				textarea#body.form-control(name='blog[body]') #{blog.body}

		input.btn.btn-success(type='submit', value='Save')