extends ../layout

block title
	| 我的博客

block content
	-if(docs.length)
		table.table
			tr
				th Blog
				th
			each b in docs
				tr
					td
						a(href="/blog/#{b.id}") #{b.title}
					td
						a(href="/blog/#{b.id}/edit/") Edit
	-else
		p You don't have any blogs!
