extends ../layout
include ../mixins/form-helpers

block content
  .col-md-24
    form#page-form(action="/my/pages/create", method="POST")
      fieldset
        legend 新建页面
        != csrf_field
        .form-group
          mixin label("page[title]", "标题")
          mixin text("page[title]", page.title)
          +errorMessage(page, 'title')
        .form-group
          mixin label("body", "正文")
          mixin textarea("page[body]", page.body)
          +errorMessage(page, 'body')
        .form-group
          input(type="hidden", value="false" name="page[isHome]")
          +label("isHome", "首页")
          input(type="checkbox", value="true", name="page[isHome]")

      .form-actions
        a.btn.btn-warning(href="/pages") 返回
        | 
        input.btn.btn-primary(type="submit", value="创建")
