extends ../layout
include ../mixins/form-helpers

block content
  form#page-form(action="/my/pages/" + page._id + "/edit", method="POST", role="form")
    fieldset
      legend 编辑页面
      != csrf_field
      .form-group
        mixin label("title", "标题")
        mixin text("page[title]", page.title)
        +errorMessage(page, 'title')
      .form-group
        mixin label("body", "正文")
        mixin textarea("page[body]", page.body)
        +errorMessage(page, 'body')
      .form-group
        +label('isHome', "首页")
        | &nbsp;
        input(type="hidden", value="false" name="page[isHome]")
        input(type="checkbox", value="true", name="page[isHome]", checked=(page.isHome || undefined))

    .form-actions
      a.btn.btn-warning(href="/pages") 返回
      | 
      input.btn.btn-primary(type="submit", value="保存")
