extends ../layout
include ../mixins/form-helpers

block content
  form#page-form(action="/pages/" + page._id + "/edit", method="POST", role="form")
    fieldset
      legend Edit Page
      != csrf_field
      .form-group
        mixin label("title", "Title")
        mixin text("page[title]", page.title)
        +errorMessage(page, 'title')
      .form-group
        mixin label("body", "Body")
        mixin textarea("page[body]", page.body)
        +errorMessage(page, 'body')
      .form-group
        +label('isHome', "首页")
        | &nbsp;
        input(type="hidden", value="false" name="page[isHome]")
        input(type="checkbox", value="true", name="page[isHome]", checked=(page.isHome || undefined))

    .form-actions
      a.btn.btn-warning(href="/pages") Back
      | 
      input.btn.btn-primary(type="submit", value="Save")
