extends ../layout


block head_css
    link(rel='stylesheet', href='/sortable.css')

block head_script
    +rjs("/js/page_index.js")

block content
  h2.display-data 页面
    a.btn.btn-primary.pull-right(href="/my/pages/create") 新建页面
  != csrf_field
  ul.sortable.list-group
    each page in pages
      li.list-group-item(data-page-id="#{page._id}")= page.title
        .pull-right
          a(href="/my/pages/" + page._id + "/detail", title="Detail")
            i.glyphicon.glyphicon-search.win-icon-magnifier
          | 
          a(href="/my/pages/" + page._id + "/edit", title="Edit")
            i.glyphicon.glyphicon-pencil.win-icon-edit
          | 
          a(href="/my/pages/" + page._id + "/delete", title="Delete")
            i.glyphicon.glyphicon-ban-circle.win-icon-delete
